<div id='students'>
  <h1>Listing students</h1>

  <%= form_tag(students_path, id: 'students_form', method: 'get') do |f|%>
    <%= select_tag "movie", options_for_select(@movies, params[:movie]), include_blank: 'All', prompt: "Filter by movie", id: "search_by_movie"%>
  <% end %>

  <table>
    <tr>
      <th>Name</th>
      <th>FavoriteMovie</th>
    </tr>

    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.movie %></td>
      </tr>
    <% end %>
  </table>  

</div>

<script type="text/javascript">
  $(function() {
    // Interview is the app name
    window.router = new Interview.Routers.StudentsRouter({students: <%= @students.to_json(methods: [:name, :movie]).html_safe -%>});
    Backbone.history.start();
  });
</script>
